<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>ポーカー役判定</h2>
    </div>
    <div class="panel-body">
      <form action=<%= hands_index_path %> method="get" accept-charset="utf-8" class="form-inline">
        <input class="form-control" type="text" name="s_hands" value="<%= request[:s_hands] %>" placeholder="H1 H2 A4 D4 D3">
        <button class="btn btn-default" type="submit">Check</button>
      </form>
      <div class="result">
        <% if @hands.present? %>
            <%= render 'result', hands: @hands %>
        <% else %>
            <p>5つのカード指定文字を半角スペース区切りで入力してください。<br>（例："S1 H3 D9 C13 S11"）</p>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>



